{% extends 'base.html' %}
{% block title %}Set New Password{% endblock title %}
{% block content %}
<div class="card bg-light p-5">
    <h3 class="text-dark">Set New Password</h3>
    {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class ="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <form action="{% url 'set_new_password' %}" method="post">{% csrf_token %}
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Set Password</button>
    </form>
</div>
{% endblock content %}